[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scipy = "*"
ipython = "*"
numpy = "*"
requests = "*"
youtube-dl = "*"
ffmpeg-python = "*"

[requires]
python_version = "3.8"
